.a {
	margin: 50px 10px 0 10px;
}

.b {
	width: 300px;
	margin: 10px auto;
}

.b div {
	padding: 5px 0px;
	text-align: center;
}

.b2 {
	margin: 0px 10px;
}

.c {
	background: #f9f9f9;
}