<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.ck.po" />
	</typeAliases>

	<!--1.配置环境 ，默认的环境id为mysql -->
	<environments default="mysql">
		<!--1.2.配置id为mysql的数据库环境 -->
		<environment id="mysql">
			<!-- 使用JDBC的事务管理 -->
			<transactionManager type="JDBC" />
			<!--数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/sqlserver" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<!--2.配置Mapper的位置 -->
	<mappers>
		<mapper resource="com/ck/dao/AdminDao.xml" />
		<mapper resource="com/ck/dao/BookDao.xml" />
		<mapper resource="com/ck/dao/BorrowDao.xml" />
		<mapper resource="com/ck/dao/ReaderDao.xml" />
	</mappers>
</configuration>
